* {
  margin: 0;
  padding: 0; }

.picnic a:hover {
  background: pink; }

.icon {
  height: 3rem;
  width: 2rem; }

.card {
  cursor: pointer;
  transition: 1s; }
  .card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 2px 2px 4px 6px #eee6; }

.textPD {
  padding: 5.5rem; }

.rs-img {
  height: 18.8rem;
  width: 100%; }
