* {
  margin: 0;
  padding: 0; }

.picnic a:hover {
  background: pink; }

.icon {
  height: 3rem;
  width: 2rem; }

.card {
  cursor: pointer;
  transition: 1s; }
  .card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 2px 2px 4px 6px #eee6; }

.textPD {
  padding: 5.5rem; }

.rs-img {
  height: 18.8rem;
  width: 100%; }

footer {
  font-size: 1.1rem; }
  footer iframe {
    height: 100%;
    width: 100%; }

@media only screen and (min-width: 320px) and (max-width: 772px) {
  footer {
    padding: 0;
    text-align: justify; }
    footer div:not(:last-child) {
      padding-bottom: 2rem; } }

.aboutus {
  margin: .5rem auto; }

.img-row img {
  height: 100%;
  width: 100%;
  border: 1px solid white;
  cursor: pointer;
  transition: .5s;
  backface-visibility: hidden; }
  .img-row img:hover {
    transform: scaleX(5px);
    opacity: .7;
    box-shadow: 3px 3px 5px 4px #fff; }
