// // Main Sass File
// body{
//     background: rgba($color: #000000, $alpha: 1)
// }
*{
    margin: 0;
    padding: 0;
}

.picnic{
    a:hover{
        background: pink;
    }
}


.icon {
    height: 3rem;
    width: 2rem;
}

.card {
    cursor: pointer;
    transition: 1s;
    &:hover{
    //    opacity: .8;
       transform: translateY(-.5rem);
       box-shadow: 2px 2px 4px 6px #eee6;
        
    }
}

.textPD{
    padding: 5.5rem;
}

.rs-img{
    height: 18.8rem;
    width: 100%;
}

footer{
    font-size: 1.1rem;

    iframe{
        height: 100%;
        width: 100%;
    }
} 

// Media queries
@media only screen and (min-width:320px) and (max-width:772px){
    footer{
        padding: 0;
        text-align: justify;
        div:not(:last-child){
            padding-bottom:2rem;
        }
    }
}


// ABOUT US PAGE STYLING
.aboutus{
    margin: .5rem auto;
}

.img-row{
    img{
        height: 100%;
        width: 100%;
        border: 1px solid white;
        cursor: pointer;
        transition: .5s;
        backface-visibility: hidden;

        &:hover{
            // border: 2px solid white;
            transform: scaleX(5px);
            opacity: .7;
            box-shadow: 3px 3px 5px 4px #fff;
        }
    }
}


// Contact styling


